.calculation {
    .container {
        position: relative;
    }
    .calculation__img-box {
        position: absolute;
        bottom: -100px;
        right: -18px; 
    }
    &__img {
        max-width: 560px;
        width: 36vw;
    }
}

.calculation-form {
    max-width: 626px;
    width: 100%;
    background-color: $bg-secondary;
    border-radius: 20px;
    padding: 50px 35px 42px;
    margin-left: 15px;
    
    .input-box {
        margin: 0 15px 20px;
        &.has-checkbox {
            margin-bottom: 8px;
            label {
                display: flex;
                align-items: center;
            }
        }
        input::placeholder {
            color: #CBCBCB;
            font-size: 15px;
            line-height: 126%;
            padding: 19px 10px 18px;
        }
    }

    [type="file"] {
        display: none;
    }
    #file-name {
        margin: 15px 0 12px;
        font-size: 15px;
        line-height: 126%;
    }
    [for="photo"] {
        border-radius: 10px;
        border: 1px dashed #6A6D7B;
        text-align: center;
        padding: 11px;
        cursor: pointer;
        transition: .2s;
        &:hover {
            color: $color-secondary;
            border-color: $color-secondary;
        }
    }
    
}



// chrome, safari, edge, opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

//firefox
input[type=number] {
    -moz-appearance: textfield;
}